*   {
    box-sizing: border-box;
    }
    
.wrapper{
        border: 2px solid black;
        border-radius: 5px;
        background-color: cadetblue;
}

.wrapper > div{
    border: 2px solid black;
    border-radius: 5px;
    background-color: cadetblue;
    padding: 1em;
    color: black;
}

.wrapper{
    display: flex;
    height: 600px;
    flex-wrap: wrap;
    align-content: space-between;
}

